<IfModule mod_rewrite.c>
php_value max_execution_time 300
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
#RewriteRule ^([a-z]+)/?$ $1.php [NC]


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html
#RewriteRule ^([a-z]+)/?$ $1.html [NC]

ErrorDocument 404 https://mayoreoferreteroatlas.com/mfa/404
ErrorDocument 500 https://mayoreoferreteroatlas.com/mfa/500
</IfModule>

#Cache de imágenes en el navegador durante un mes

<FilesMatch "\.(ico|jpg|jpeg|png|gif)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>

# sirve archivos foo como archivos php

AddType application/x-httpd-php .foo


